@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.userInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7fb;

  h1 {
    margin-top: 50px;
  }
}
.userInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: max-content;
  padding: 20px;
  border-radius: 0.5rem;
  border: 1px solid #ecedf1;
  background-color: #fff;
}
.avatar {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
.about {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.fieldItem {
  display: flex;
  gap: 0.5rem;
}
.fieldTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
