.resultLineWrapper {
  position: relative;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem;
  text-decoration: none;
  list-style: none;
  padding: 0.5rem;

  &:first-child {
    margin-top: 0.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ecedf1;
  }

  &:hover {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 0.5rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
  }

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .name {
    color: #000;
  }
}
